header {
   top: 0;
   left: 0;
   width: 100%;
   background-color: #ccc;  
   text-align: left;
   display: flex;
   align-items: center;
   z-index: 10;
   max-height: 25vh;
}

header #logo {
   height: 2.5em;
   width: auto;
   margin-left: 2em;
}

header h1 {
   margin-left: 10px;
   font-size: 2em;
   display: inline-block;
   line-height: 1.5em;
}

header #userinfo {
   text-align: center;
   font-weight: bold;
   position: absolute;
   right: 0;
   height: 2.75em;
   display: flex;
   align-items: center;
   justify-content: right;
   width: 40vw;
   padding-right: 2em;
}

#token-display {
   font-size: 1.2em;
   font-weight: bold;
   color: #333;
   text-align: center;
   justify-content: center;
   width: 20vw;
}

#token-display:hover {
   color: red;
   text-decoration: line-through;
   cursor: pointer;
}

#kolor-header-menu {
   display: flex;
   justify-content: left;
   align-items: center;
   cursor: pointer;
   width: 40vw;
   color: black;
}

#kolor-header-menu:hover {
   color: #098725;
}

#darkmode-toggle {
   margin-right: 2em;
   font-size: 1.5em;
   cursor: pointer;
   user-select: none;
   position: absolute;
   right: 8em;
   top: 1.2em;
   transition: color 0.3s ease;
}

#darkmode-toggle:hover {
   color: #098725;
}


header, #userinfo, #kolor-header-menu, #token-display {
   transition: background-color 0.4s ease, color 0.4s ease;
 }
 
 #darkmode-toggle {
   transition: color 0.3s ease;
   position: absolute;
   right: 250pt;
 }
 
body.darkmode header,
body.darkmode header h1,
body.darkmode #userinfo,
body.darkmode #userinfo span,
body.darkmode #token-display,
body.darkmode #kolor-header-menu {
  color: #ccc;
}
